.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f9f9f9;
    -fx-font-size: 13px;
}

.label {
    -fx-font-size: 14px;
    -fx-padding: 2 5 2 5;
}


.table-view {
    -fx-border-color: #ccc;
    -fx-table-cell-border-color: #ddd;
}

.table-view .column-header {
    -fx-background-color: #e3e3e3;
    -fx-font-weight: bold;
}


/* ============================================================ */

.page-button {
    -fx-padding: 4 10;
    -fx-background-color: #e0e0e0;
    -fx-border-color: #ccc;
    -fx-border-radius: 3;
    -fx-cursor: hand;
}
.current-page {
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
}


/* ============================================================ */

#colNumber {
    -fx-alignment: CENTER;
}

/* ============================================================ */


/* Gaya umum semua button */
.button {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/* Hijau: Check */
#checkButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
#checkButton:hover {
    -fx-background-color: #45a049;
}

/* Oranye: Stop */
#stopButton {
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
}
#stopButton:hover {
    -fx-background-color: #fb8c00;
}

/* Biru: Export */
#exportButton {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}
#exportButton:hover {
    -fx-background-color: #1976D2;
}

